@import './text';

.min-h {
  min-height: calc(100vh - #{$header-h} - #{$footer-h});
}
.min-w {
  min-width: 1248px;
  box-sizing: border-box;
  padding-left: 24px;
  padding-right: 24px;
}
.overflow-hidden {
  overflow: hidden;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  } to {
    transform: rotate(360deg);
  }
}
