@import './text';
body {
  line-height: 1.5;
}

.min-h {
  min-height: calc(100vh - #{$header-h} - #{$footer-h});
}
.min-w {
  min-width: 1200px;
  box-sizing: border-box;
}
.overflow-hidden {
  overflow: hidden;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  } to {
    transform: rotate(360deg);
  }
}
