$text-i: 80;
@while $text-i >= 0 {
  .mg-t#{$text-i} {
    margin-top: $text-i * 1px !important;
  }
  .mg-b#{$text-i} {
    margin-bottom: $text-i * 1px !important;
  }
  .mg-l#{$text-i} {
    margin-left: $text-i * 1px !important;
  }
  .mg-r#{$text-i} {
    margin-right: $text-i * 1px !important;
  }
  .mg-tb#{$text-i} {
    margin-top: $text-i * 1px !important;
    margin-bottom: $text-i * 1px !important;
  }
  .mg-lr#{$text-i} {
    margin-left: $text-i * 1px !important;
    margin-right: $text-i * 1px !important;
  }

  .pd-t#{$text-i} {
    padding-top: $text-i * 1px !important;
  }
  .pd-b#{$text-i} {
    padding-bottom: $text-i * 1px !important;
  }
  .pd-l#{$text-i} {
    padding-left: $text-i * 1px !important;
  }
  .pd-r#{$text-i} {
    padding-right: $text-i * 1px !important;
  }
  .pd-tb#{$text-i} {
    padding-top: $text-i * 1px !important;
    padding-bottom: $text-i * 1px !important;
  }
  .pd-lr#{$text-i} {
    padding-left: $text-i * 1px !important;
    padding-right: $text-i * 1px !important;
  }

  $text-i: $text-i - 1;
}

$fontSize-i: 48;
@while $fontSize-i > 10 {
  .ts-#{$fontSize-i} {
    font-size: #{$fontSize-i}px !important;
  }

  $fontSize-i: $fontSize-i - 2;
}

.flex-box {
  display: flex;
  align-items: center;

  &.space-between {
    justify-content: space-between;
  }
  &.space-around {
    justify-content: space-around;
  }
  &.flex-start {
    justify-content: flex-start;
  }
  &.flex-end {
    justify-content: flex-end;
  }

  &.align-start {
    align-items: flex-start;
  }
  &.align-end {
    align-items: flex-end;
  }

  .flex-1 {
    flex: 1;
  }
}

.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
