$header-h: 50px;
$footer-h: 120px;

// 主题 key 数组
$theme-list: (
  dark,
  light
);

// 主题色 数组
$dark-colors-list: (
  a: #ccc,
  b: teal,
  btn-noraml_border: #aabbff,
  btn-noraml_bg: #ffffff
);
$light-colors-list: (
  a: red,
  b: blue,
  btn-noraml_border: skyblue,
  btn-noraml_bg: #aabbff
);

// 主题色 对象
$colors-obj: (
  dark: $dark-colors-list,
  light: $light-colors-list
);

// 背景文件 数组
$dark-bg-list: (
  mainBg: '/static/bg/light.jpg'
);

$light-bg-list: (
  mainBg: '/static/bg/dark.jpg'
);

// 背景文件 对象
$bg-obj: (
  dark: $dark-bg-list,
  light: $light-bg-list
);
